ALCHEMY_HTTPS = https://eth-goerli.g.alchemy.com/v2/58hgQlAHci1swSUaoB__Pb49IqdOZcDO
MNEMONIC =

CITIZENSHIP_CONTRACT_ADDRESS = 0x5488bAE684c8767749f533D53a84CDB150DdB596
MONEY_CONTRACT_ADDRESS = 0x43BeFdf2631dBAB6AdC1EB9D41e478A965d4fC02

ETHERSCAN_API_KEY =
